/* Estilo básico para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Estilo para a barra de navegação */
nav {
    background-color: #333;
    color: rgb(114, 198, 247);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: rgb(23, 201, 224);
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Estilo para o contêiner das seções */
#container {
    padding: 20px;
}

/* Estilo para as seções */
.section {
    display: none; /* Todas as seções estão ocultas por padrão */
    margin-top: 20px;
}

/* Estilo para os formulários */
form {
    margin: 0;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="datetime-local"],
form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #070707;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #080808;
}

/* Estilo para a tabela de veículos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #1a2349;
}

table th {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #f5f5f5;
}

/* Estilo para os resultados */
#resultadoPagamento,
#resultadoBusca {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
